@import "bootstrap.less";
@import "responsive.less";
@import "bootswatch.less";
@import "variables.less";

#map {
    height: 300px;
}

#authorize-button p {
    display: none;
}

#authorize-button {
    background: url(../images/Red-signin_Medium_base_44dp.png) center center no-repeat;
    background-size: auto 100%;
    border: 0;
    height: 65px;
    cursor: pointer;
}

.modal-large {
    width: 80%;
    margin-left: 45%;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: @black;
}
