<div class="well">
  <h3>Map bindings</h3>
  <form>
    <label>Latitude column</label>
    <select class="input-small" ng-model="map.latCol" ng-options="col.id as col.label for col in columns"></select>
    <label>Longitude column</label>
    <select class="input-small" ng-model="map.lngCol" ng-options="col.id as col.label for col in columns"></select>
    <label>Radius column</label>
    <select class="input-small" ng-model="map.radCol" ng-options="col.id as col.label for col in columns"></select>
  </form>
</div>
