<div class="text-center" pagination boundary-links="true" num-pages="tableAdapter.totalPages()" current-page="tableAdapter.currentPage" max-size="10"></div>
<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th class="dropdown" ng-repeat="header in headers">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">{{header.label}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="hideColumn(header.id)">Hide column</a></li>
                    <li ng-click="chooseLat(header.id)"><a href="">Use as latitude</a></li>
                    <li ng-click="chooseLng(header.id)"><a href="">Use as longitude</a></li>
                    <li><a href="">Use as radius</a></li>
                </ul>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in table" ng-click="showRow($index)">
            <th>{{tableAdapter.rowHeader($index)}}</th>
            <td ng-repeat="cell in row">{{cell.content}}</td>
        </tr>
    </tbody>
</table>
