<div class="text-center" pagination boundary-links="true" num-pages="pagination.pages" current-page="pagination.page" max-size="10"></div>
<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a href="" ng-click="showAll()">All</a>
                <a href="" ng-click="showNone()">None</a>
            </th>
            <th ng-repeat="col in columns">
                <span class="label" ng-show="isLat(col)">Lat</span>
                <span class="label" ng-show="isLng(col)">Lng</span>
                <span class="label" ng-show="isRad(col)">Rad</span>
                <p>{{col.label}}</p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in table" ng-click="toggleRow(row)" ng-class="{ success: isRowSelected(row) }">
            <th>{{row.id + 1}}</th>
            <td ng-repeat="col in columns">{{row.cells[col.id].content}}</td>
        </tr>
    </tbody>
</table>
