<div class="navbar" ng-hide="hidenavbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">MapSheet</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Worksheets<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#/open-worksheet">Open from google drive</a>
              </li>
              <li class="divider" ng-show="hasWorksheets"></li>
              <li ng-repeat="(id, document) in documents">
                <a href="#/project/{{document.id}}">{{document.worksheet.title}}</a>
              </li>
            </ul>
          </li>
          <li><a href="" ng-click="switchAccount()">Switch account</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
