<div class="row-fluid">
    <div class="span4" ng-repeat="col in columns">
        <div class="row-fluid well" ng-repeat="doc in col">
            <h4>{{doc.title}} <small>by {{doc.author}}</small></h4>
            <em>
                Last updated on {{doc.updated | date:'dd-MM-yyyy HH:mm'}}
                (<a ng-show="doc.openLink" href="{{doc.openLink}}" target="_blank">Open on google docs</a>)
            </em>

            <h5><a href="" ng-click="wksShow = !wksShow">Worksheets</a></h5>
            <ul class="unstyled inline" collapse="!wksShow">
                <li ng-repeat="wks in doc.worksheets" style="margin-bottom: 5px;">
                    <a href="" class="btn" ng-click="openWorksheet(wks)">{{wks.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
